html {
  font-size: 14px;
  box-sizing: border-box;
}

body, nav {
    background-color: #222125;
}

.chat-label {
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 25px;
}

.chat-img {
    height: 75px;
    width: 75px;
    border: 1px solid black;
    border-radius: 25px;
}

.msg-right {
    justify-content: flex-end;
    margin-right: 20px;
}

.msg-left {
    justify-content: flex-start;
    margin-left: 20px;
}

.message p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.message {
    border: 1px solid coral;
    width: inherit;
    border-radius: 15px;
    margin: 20px 0;
    padding: 10px 20px;
}

#textarea {
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    margin: 50px auto;
    display: block;
    border-radius: 10px;
    border: 6px solid #556677;
}

h1, h2, h3, h4, h5, h6,
label, input, .amogus,
.col-sm-2, .col-sm-10 {
    color: white;
}

#filterbyname {
    width: 300px;
}

.search-btn {
    border: 1px solid #ced4da;
    background: none;
    align-content: center;
    padding: .375rem .75rem;
    border-radius: 0.25rem;
}

.form-control,
.form-control:active,
.form-control:focus,
.dropdown-list {
    background-color: #222125;
    color: white;
}

.div-with-cat {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dropdown-list {
    border-radius: 5px;
    padding: 3px;
}

#filter-form {
    display: flex;
}

/*.search-button {
    height: 100%;
}*/

a {
    color: coral;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Products */
.flex-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.flex-item {
    padding: 20px;
    max-width: 300px;
    flex: 1 1 300px;
}

.product-img {
    padding-bottom: 20px;
    object-fit: contain;
    transition: transform .2s;
    width: 250px;
    height: 250px;
}

.product-img:hover {
    transform: scale(1.1);
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart-item {
    flex: 1 1 100px;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}

.add-to-cart-item:hover {
    color: #2f79b5;
    background: white;
}

.add-to-cart-item:first-child {
    border: none;
}

.btn-class {

}

.buttons-class a,
.buttons-class input,
.btn-class {
    text-decoration: none;
    border: 1px solid coral;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    background: coral;
}

.buttons-class a:hover,
.buttons-class input:hover,
.btn-class:hover {
    color: coral;
    background: white;
}

.category-name {
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid coral;
    border-radius: 5px;
    color: white;
    background-color: coral;
}

.cat-name-small {
    font-size: 17px;
    border: 1px solid coral;
    border-radius: 5px;
    transition: transform .2s;
    padding: 5px 0;
}

.cat-name-small a {
    display: block;
}

.cat-name-small:hover {
    transform: scale(1.05);
}
